* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

$maincolor: rgba(86, 64, 25, 0.827);
$darkcolor: rgba(43, 32, 12, 0.827);
$lightcolor: wheat;


@mixin position($top) {
    position: absolute;
    left: 50%;
    top: $top;
    transform: translateX(-50%);
}

@mixin position2() {
    position: absolute;
    left: 10%;
    bottom: 10%;
}

@mixin centering {
    display: flex;
    justify-content: center;
    align-items: center;
}