* {
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none !important;
    color: inherit;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    header {
        position: relative;

    }

    div.selfie {
        img {
            width: 100%;
            margin: 10px 0;
            border-radius: 90%;

        }
    }

    main {
        display: grid;
        grid-template-columns: 1fr 9fr;


        aside {
            background-image: url(img/coverr.jpg);
            background-size: cover;

            a {
                background-color: $maincolor;
                color: $lightcolor !important;
                padding: 15px 20px !important;
                margin: 10px;
                border-radius: 15px;
                transition: .5s;

                &:hover {
                    background-color: $darkcolor;
                }
            }
        }

        section {
            padding: 0 !important;
            position: relative;
        }

    }

}

nav {
    text-align: center;
}

div.front {
    width: 100%;
    height: 50vh;
    padding: 0;
    box-shadow: 50px 50px 50px gray;
    background-image: url(img/cover6.jpg);
    background-size: cover;
    overflow: hidden;
    margin: 10px;

    h1 {
        color: $lightcolor;
    }
}

#theme {
    height: 20px;
    width: 20px;
    color: white;

    &:hover {
        cursor: pointer;
    }
}

#fa {
    color: #212529 !important;
}

// slide
div.cover {
    width: 100%;

    div.big-img {
        position: relative;
        text-align: center;
        height: 50vh;
        overflow: hidden;

        #btnservice {
            @include position2();
            background-color: rgb(21, 21, 82);
            color: aliceblue;
            padding: 5px 15px;
            border-radius: 5px;

        }

        img {
            width: 100%;
            padding-bottom: 10px;
        }
    }

    div.thumb {
        margin-top: 40px;
        text-align: center;
        height: 110px;

        img {
            width: 15%;
            height: 100%;
            padding: 10px;
            background-color: $maincolor;

            &:hover {
                scale: (1.1);
                cursor: pointer !important;
            }
        }
    }
}

ul {
    padding: 0;

    li {
        padding: 0;
        list-style: none;
        text-align: center;

    }
}



ul li a {
    padding: 20px 0;
    font-size: 20px;
}

.general {
    background-image: url(img/1.jpg);
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.about {
    background-image: url(img/0.jpg);
    background-size: cover;
}

.social {
    background-image: url(img/1.jpg);
    background-size: cover;
}

.infobox {
    background-color: $maincolor;
    color: $lightcolor;
    padding: 10px 15px;
    border-radius: 15px;
    margin: 15px;
    text-align: center;
    transition: 2s;
}

#hometitle2 {
    color: $maincolor;
}

#hometitle3 {
    color: $maincolor;
}

div.footer {
    background-color: $darkcolor;
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        color: $lightcolor;
        margin: 10px;
        padding: 10px;
        font-size: 25px;

    }
}

#hometitle3-0 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

#hometitle3-1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    transition: 1s;
}

/* -------------- js class list ----------------- */

div.show {
    opacity: 1 !important;
}

section.homepage {
    background-image: url(img/2.jpg);
    background-size: cover;

    h2 {
        color: $maincolor;
    }

    h3 {
        color: $maincolor;
    }

    h4 {
        color: $maincolor;
    }

    div.port {
        div.certificate {
            div.card {
                background-color: $maincolor;
                color: $lightcolor;

            }
        }

        img {
            width: 100%;
        }
    }
}

div.item {
    p {
        ul {

            li {
                list-style: none;



            }
        }
    }
}


.signin-main {
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
        background-color: $maincolor;
        color: $lightcolor;

    }
}

.colorful {
    background-color: $maincolor;
    color: $lightcolor;
}

#aboutmedes {
    color: $maincolor;
}